<div *ngIf="product.payload.val().title" class="card">
  <img class="card-img-top" [src]="product.payload.val().imageUrl" *ngIf="product.payload.val().imageUrl" alt="{{product.payload.val().title}}">
  <div class="card-body">
    <h5 class="card-title">{{product.payload.val().title}}</h5>
    <p class="card-text">{{product.payload.val().price | currency:'USD':symbol}}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button *ngIf="getQuantity() === 0; else updateQuatity" (click)="addToCard()" class="btn btn-primary btn-block" href="">Add to Card</button>    
    <ng-template #updateQuatity>
      <!-- <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity> -->
      <div class="row no-gutters">
        <div class="col-2">
          <button (click)="removeFromCart()" class="btn btn-primary btn-block">-</button>
        </div>
        <div class="col text-center">{{getQuantity()}} in cart</div>
        <div class="col-2">
          <button (click)="addToCard()" class="btn btn-primary btn-block">+</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>